<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">send message </li>
</ol>
<div class="container">
    
    <div class="">
        <div class="">
            <h3>Danh sách tin nhắn đã gởi</h3>
            {{#each list}}
                <div class="row">
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <span class="glyphicon glyphicon-user"></span>
                            <label for="">{{this.name}}</label>
                            <div class="caption">

                                <label for="">{{this.chat}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
