<div class="">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Abouts</li>
  </ol>
</div>

<div class="container">
  <div class="">
    <h1>Thông tin nhóm</h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Stt</th>
        <th>Mssv</th>
        <th>Họ Tên</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>1312432</td>
        <td>Phạm Hữu Phong</td>
      </tr>
      <tr>
        <td>2</td>
        <td>1312479</td>
        <td>Lại Trọng Sang</td>
      </tr>
    </tbody>

  </table>
</div>
