<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">




</head>

<body>
	<nav class="nav navbar-default">
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="/">Home</a>
				</li>
				<li><a href="/messages">Messages</a></li>
				<li>
					<a href="/users">Users</a></li>
				<li>
					<a href="/abouts">Abouts</a></li>
			</ul>
		</div>
	</nav>
	<div class="">
			{{{body}}}
	</div>

</body>

</html>
