<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">




</head>

<body>
	<button class="btn btn-success"type="button" name="button">hi</button>

	{{{body}}}
</body>

</html>
